html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
    
.header {
    flex-shrink: 0;
}
        
.content {
    flex: 1;
}

.footer {
    flex-shrink: 0;
}